@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.details {
  width: 83%;
  margin: 0 auto;
  background-color: $dark-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  position: absolute;
  bottom: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1195.2px;

  @include lg {
    bottom: 79%;
    padding: 0rem;
  }

  @include md {
    bottom: 92%;
    padding: 0;
  }

  @include sm {
    flex-wrap: wrap;
    bottom: 80.1%;
  }

  @include ssm {
    padding: 0.4rem;
    bottom: 85%;
  }

  .vl {
    height: 8rem;
    width: 0.2rem;
    background-color: $soft-bg;
  }

  #line {
      @include sm {
          display: none;
      }
  }

  .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem;

    @include md {
      padding: 1.4rem;
    }

    @include ssm {
      padding: 0.5rem;
    }

    .top {
      color: $light-text;
      font-size: 4.8rem;
      font-weight: 500;

      @include md {
        font-size: 4rem;
      }

      @include ssm {
        font-size: 3rem
      }
    }

    p {
      color: $light-text;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 1.25;

      @include md {
        font-size: 1.6rem;
      }

      @include ssm {
        font-size: 1.4rem;
      }
    }
  }
}
