@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.header {
  width: 100%;
  background-color: $main-bg;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid $soft-bg;

  &.visible {
    visibility: visible;
    transition: all .3s;
  }

  &.hidden {
    visibility: hidden;
    transition: all .8s;
    transform: translateY(-100%);
  }

  .nav {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 11.4rem 0.2rem 9rem;
    z-index: 1000;

    @include lg {
      padding: 0.2rem 6.5rem 0.2rem 3rem;
    }

    @include sm {
      padding: 0.1rem 2.4rem 0.1rem 1rem;
    }

    @include ssm {
      padding: 0.1rem 2rem 0.1rem 1rem;
    }

    .hamburger {
      display: none;
      position: relative;
      z-index: 10000;
      @include md {
        display: initial;
      }

      .cancel {
        height: 4rem;
        width: 4rem;
        position: absolute;
        top: -18px;
        right: -7px;
      }

      .menu {
        height: 3.2rem;
        width: 3.2rem;
        position: absolute;
        top: -15px;
        right: -5px;
      }
    }

    .logoContainer {
      .logo {
        width: 28.1rem;
        height: 10rem;
        object-fit: cover;

        @include md {
          width: 16.5rem;
          height: 6.4rem;
        }

        @include sm {
          width: 12rem;
          height: 5rem;
          padding-top: 1rem;
        }
      }
    }

    .navigations {
      display: flex;
      gap: 3.2rem;

      @include md {
        flex-direction: column;
        background-color: $soft-bg;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 0;
        left: -100%;
        z-index: 10;
        transition: 0.3s;
        padding: 6.4rem 0rem;
      }

      &.active {
        @include md {
          left: 0;
        }
      }

      .links {
        
        .link {
          text-transform: capitalize;
          padding: 0.5rem 0;

          &.on {
            border-bottom: 3px solid $dark-bg;
          }
        }

        // hr {
        //   margin-top: 0.5rem;
        //   height: 2px;
        //   border: none;
        //   outline: none;
        //   border-radius: 1rem;
        //   background-color: $dark-bg;
        // }
      }
    }
  }
}
