@import "../../../styles/variables.scss";
@import '../../../styles/responsive.scss';

.blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;

    @include md {
      padding: 2rem;
    }

    @include sm {
      grid-template-columns: 1fr;
    }

    .blogpost {
    &__image {
      position: relative;
      height: 28rem;
      width: 36rem;
      margin-bottom: 2.4rem;

      @include sm {
        margin: auto;
        margin-bottom: 4rem;
      }

      @include xxl {
        width: 33rem;
      }
      
      .background {
        height: 30rem;
        width: 33.8rem;
        background-color: $soft-bg;
        margin-left: 4.5rem;

        @include xxl {
          width: 30rem;
        }

        @include sm {
          width: 29rem;
        }

        @include ssm {
          margin-left: auto;
          width: 30rem;
        }
      }

      .blogpost__img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0.9rem;
        right: 0;

        @include sm {
          width: 97%;
          right: .7rem;
        }

        @include ssm {
          width: 98%;
          right: .7rem;
        }
      }
    }

    &__time {
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: 0.4rem;

      @include sm {
        font-size: 1.5rem;
      }
    }

    &__header {
      font-size: 2.4rem;
      font-weight: 500;
      margin-bottom: 0.4rem;

      @include sm {
        font-size: 2.2rem;
      }
    }

    &__desc {
      font-size: 2rem;
      font-weight: 400;

      @include sm {
        font-size: 1.8rem;
      }
    }
  }
}
