@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.quotes {
  width: 75%;
  max-width: 1080px;
  margin: 0 auto;
  background-color: $dark-bg;
  border-radius: 3.2rem;
  padding: 6.4rem 15rem;
  text-align: center;
  margin-bottom: 9.4rem;
  position: relative;

  @include xxl {
    padding: 5rem 10rem;
  }

  @include lg {
    padding: 5rem;
  }

  @include md {
    padding: 4rem;
  }

  @include sm {
    padding: 2.4rem;
    width: 88%;
  }

  h3 {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    color: $light-text;

    @include lg {
      font-size: 2.5rem;
    }
  }

  p {
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    color: $light-text;
    line-height: 1.7;

    @include lg {
      font-size: 1.5rem;
    }
  }

  .design {
    position: absolute;
    width: 10rem;
    height: 40rem;
    right: -5.2rem;
    top: 20rem;
    transform: translate(-50%, -50%);

    @include lg {
      display: none;
    }
  }

  .design1 {
    position: absolute;
    width: 25rem;
    height: 25rem;
    top: 27.8rem;
    left: 12.4rem;
    transform: translate(-50%, -50%);
    border-radius: 0rem 0rem 0rem 3.2rem;

    @include xxl {
      display: none;
    }
  }

  .design2 {
    display: none;
    @include md {
      display: initial;
      position: absolute;
      width: 5rem;
      height: 40rem;
      left: 2.5rem;
      top: 20rem;
      transform: translate(-50%, -50%);
    }

    @include sm {
      left: 2.41rem;
    }
  }

  .design3 {
    display: none;
    @include md {
      display: initial;
      position: absolute;
      width: 4rem;
      height: 40rem;
      right: -2rem;
      top: 20rem;
      transform: translate(-50%, -50%);
    }

    @include sm {
      right: -1.8rem;
      top: 20rem;
      width: 3.5rem;
    }
  }
}
