@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.advertContainer {
  width: 100%;
  background-color: $main-bg;
  padding-bottom: 11rem;

  .advert,
  .advert__reverse {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 7.9rem;
    padding: 0 11.4rem;

    @include lg {
      padding: 0 4rem;
      gap: 5rem;
    }

    @include md {
      flex-direction: column;
      padding: 0 7rem;
      
    }

// i made a correction here, check!

    @include sm {
      padding: 0 2.4rem;
    }

    &__image {
      position: relative;

      .background {
        height: 50rem;
        width: 53.9rem;
        background-color: $soft-bg;
        margin-left: 4.9rem;

        @include xxl {
          height: 40rem;
          width: 43.9rem;
          margin-left: 3.5rem;
        }

        @include md {
          width: 56rem;
        }

        @include sm {
          width: 30rem;
          height: 29rem;
        }

        @include ssm {
          width: 27rem;
          height: 25rem;
          margin: 0 auto;
          margin-left: 3.6rem;
        }
      }

      .image {
        width: 95%;
        height: 92%;
        position: absolute;
        top: 1.9rem;
        right: 2.2rem;

        @include md {
          width: 100%;
        }

        @include sm {
          top: 1.2rem;
        right: 1rem;
        }

        
        @include ssm {
          width: 94%;
        }
      }
    }

    &__text {
      h3 {
        font-size: 4.8rem;
        font-weight: 500;
        margin-bottom: 2.4rem;
        line-height: 1.1;
        @include xxl {
          font-size: 3rem;
          margin-bottom: 1.5rem;
        }

        @include sm {
          font-size: 3.4rem;
        }

        @include ssm {
          font-size: 2.5rem;
        }
      }

      p {
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.6;

        @include xxl {
          font-size: 1.8rem;
        }

        @include ssm {
          z-index: 1.5rem;
        }
      }
    }
  }

  .advert__reverse {
    flex-direction: row-reverse;

    @include md {
      flex-direction: column;
    }
  }
}
